/* =================== Theme Variables =================== */
[data-theme="light"] {
   --color-bg: #ffffff;
   --color-fg: #000000;
}

[data-theme="dark"] {
   --color-bg: #000000;
   --color-fg: #ffffff;
}

/* =================== Global Styles =================== */
body {
   background-color: var(--color-bg);
   color: var(--color-fg);
}

/* =================== Dark Theme Specific Styles =================== */
[data-theme="dark"] .content button {
   background-color: white;
   color: black;
}

[data-theme="dark"] .content button:hover {
   background-color: #f0f0f0;
}

[data-theme="dark"] .content button:active {
   background-color: #e0e0e0;
}

[data-theme="dark"] .header-2 {
   color: white;
}

[data-theme="dark"] .parent-1 h2, 
[data-theme="dark"] .parent-2 h2,
[data-theme="dark"] .parent-1 p,
[data-theme="dark"] .parent-2 p {
   color: black;
}

[data-theme="dark"] .achievements-wrapper {
   background-color: black;
   border-color: black;
}

[data-theme="dark"] .achievements-header {
   color: white;
}

[data-theme="dark"] .achievement-card {
   background-color: gainsboro;
}


[data-theme="dark"] .temporary {
   color: black;
}

[data-theme="dark"] .road {
   background-color: black;
}