/* Footer Styling */
.footer {
    background-color: #121212; /* Dark background for footer */
    color: white;
    padding: 40px 0;
    text-align: center;
    font-family: "Arial", sans-serif;
    bottom: 0;
    
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    
}

.footer-logo {
    width: 15%;
    text-align: left;
}

.logo-image {
    width: 100%;
    height: auto;
}

.footer-about, .footer-contact, .footer-social {
    width: 28%;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
    justify-content: space-around;
}

.footer-about h3, .footer-contact h3, .footer-social h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.footer-about p, .footer-contact p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #bbb;
}

.footer-contact a {
    color: #1e90ff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.footer-contact a:hover {
    color: #bb86fc;
}

.footer-social {
    text-align: center;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}
.wrapper .icon {
  position: relative;
  background:  #2d2d2d;
  color: white;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: black;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}




.footer-bottom {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #bbb;
}

.footer-bottom p {
    margin: 0;
}

/* Responsive Footer - Media Query */
@media (max-width: 850px) {
    .footer-content {
        flex-direction: column;
        align-items: center
        
    }

    .footer-logo {
        width: 30%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-about, .footer-contact, .footer-social {
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }

    .social-icons {
        gap: 10px;
    }
}

@media screen and (max-width: 700px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-logo {
        width: 30%;
    }

    .footer-about, .footer-contact, .footer-social {
        width: 90%;
        margin-bottom: 15px;
    }
}