* {
    margin: 0;
    padding: 0;
    
}





/* Main Content Section */
.container {
    display: flex;
    padding: 30px;
    justify-content: center;
    min-height: 90vh;
}
 
.content {
    max-width: 800px;
    text-align: justify;
    padding: 0 16px;
}
 
.content h2 {
    font-size: 3rem;
    margin-bottom: 28px;
    margin-top: 20px;
    text-align: left;
    line-height: 50px;
}
 
.content div {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 35px;
 
}
 
.content #about-us {
    margin-bottom: 100px;
}

.content img {
    width: 55%; 
    height: 150px; 
    object-fit: contain;
    margin: 30px auto 50px auto; 
    display: block; 
}




.content button {
    padding: 10px 12px;
    border-style: solid;
    border-radius: 0px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color .5s;
}

.content button:hover {
    background-color: rgb(87, 86, 86);
}

.content button:active {
    background-color: rgb(133, 133, 133);
}

@media (max-width: 425px) {
    .content a[href="https://performance.sk"] img {
        width: 80%; /* Increase the size of the logo */
        margin: 20px auto; /* Center the logo with some margin */
    }
}


